* {
    box-sizing: border-box;
}

html {
    font-family: 'El Messiri', 'Montserrat', 'sans-serif';
    font-size: 20px;
    color: #fff;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #F3D098;
}