.property {
    padding: 23px 280px 102px;
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    &__item-text {
        margin-top: 30px;
        font-size: 0.9rem;
        vertical-align: middle;
    }
    &__grey {
        color: #767474;
        font-weight: 400;
    }
    &__bold {
        font-weight: 700;
    }
}

@media screen and (max-width: 1535px) {
    .property {
        padding: 0 80px 102px;
        &__item {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 953px) {
    .property {
        padding: 80px;
    }
}

@media screen and (max-width: 800px) {
    .property {
        padding: 80px 20px;
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 554px) {
    .property {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 541px) {
    .property {
        flex-direction: column;
        padding-top: 70px;
        &__item {
            display: flex;
            justify-content: center;
            margin-right: 0;
        }
        &__item-text {
            margin-left: 30px;
        }
    }
}