.assortment {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
}
.assortment__left img {
  max-width: 1400px;
  width: 100%;
}
.assortment__right {
  max-width: 600px;
  position: absolute;
  left: 964px;
  top: 300px;
  z-index: 999;
  margin-right: 30px;
}
.assortment__title {
  font-size: 1.9rem;
}
.assortment__text {
  font-size: 0.9rem;
  color: #FAFAFA;
}

@media screen and (max-width: 1324px) {
  .assortment__right {
    left: calc(100% - 310px);
    top: 100px;
  }
}
@media screen and (max-width: 990px) {
  .assortment__title {
    font-size: 1.4rem;
  }
  .assortment__right {
    margin-right: 10px;
  }
}
@media screen and (max-width: 915px) {
  .assortment__right {
    display: block;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "El Messiri", "Montserrat", "sans-serif";
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #F3D098;
}

.button {
  width: 261px;
  height: 58px;
  border-radius: 39px;
  background-color: #F3D098;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  box-shadow: -1px -1px 20px 15px rgba(243, 208, 152, 0.3);
}
.button:active {
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
}

@media screen and (max-width: 610px) {
  .button {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 542px) {
  .button {
    height: 48px;
    width: 231px;
  }
}
.gallery-slider {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  min-width: 200px;
  padding-bottom: 47px;
}
.gallery-slider__button:after {
  color: #F3D098;
  font-size: 15px;
  position: absolute;
  border: 1px solid #F3D098;
  border-radius: 50%;
  padding: 5px 8px;
  z-index: 999;
  cursor: pointer;
}
.gallery-slider__item {
  padding: 1px;
}

.gallery-slider .swiper-slide {
  width: 100%;
  display: flex;
}
.gallery-slider .swiper-slide__left {
  margin-right: 26px;
}

.gallery-slider .swiper-scrollbar {
  background-color: #1C1C1C;
  height: 10px;
  margin-top: 30px;
}

.gallery-slider .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #F3D098;
  border-radius: 0;
}

@media screen and (max-width: 1130px) {
  .gallery-slider {
    margin: 0 auto;
  }
}
@media screen and (max-width: 816px) {
  .gallery-slider {
    max-width: 500px;
  }
  .gallery-slider .swiper-slide {
    flex-direction: column;
    align-items: center;
  }
  .gallery-slider .swiper-slide__left {
    margin-right: 10px;
  }
  .gallery-slider .swiper-slide__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .gallery-slider .swiper-slide__move {
    margin-right: 20px;
  }
}
@media screen and (max-width: 507px) {
  .gallery-slider {
    max-width: 400px;
  }
  .gallery-slider .swiper-slide__right {
    flex-direction: column;
  }
  .gallery-slider .swiper-slide__move {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media screen and (max-width: 410px) {
  .gallery-slider {
    max-width: 350px;
  }
}
.gallery {
  display: flex;
  padding: 100px 224px 79px 348px;
  height: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.gallery__left {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.gallery__left-item {
  color: #6F6767;
  font-size: 1.4rem;
}
.gallery__left-item:not(:last-child) {
  margin-bottom: 42px;
}
.gallery__left-item:hover {
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1667px) {
  .gallery {
    padding: 100px;
  }
}
@media screen and (max-width: 1290px) {
  .gallery {
    padding: 30px;
  }
}
@media screen and (max-width: 1130px) {
  .gallery {
    flex-direction: column;
  }
  .gallery__left {
    padding: 0 20px;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 875px) {
  .gallery {
    padding: 0;
  }
  .gallery__left-item {
    min-width: 150px;
  }
  .gallery__left-item:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 730px) {
  .gallery__left {
    flex-direction: column;
    align-items: center;
  }
  .gallery__left-item:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  width: 100%;
  padding: 24px 64px;
  max-width: 1500px;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-lg {
  position: relative;
  margin-right: 20px;
}
.header__logo-lg::after {
  content: "";
  width: 52px;
  height: 1px;
  background-color: #fff;
  color: #fff;
  position: absolute;
  transform: rotate(90deg);
  top: 30px;
  left: 45px;
}
.header__logo-text {
  color: #fff;
  font-size: 0.65rem;
}

@media screen and (max-width: 1289px) {
  .header {
    padding: 10px;
  }
}
@media screen and (max-width: 1063px) {
  .header__logo {
    width: 100%;
  }
}
.property {
  padding: 23px 280px 102px;
  text-align: center;
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
}
.property__item-text {
  margin-top: 30px;
  font-size: 0.9rem;
  vertical-align: middle;
}
.property__grey {
  color: #767474;
  font-weight: 400;
}
.property__bold {
  font-weight: 700;
}

@media screen and (max-width: 1535px) {
  .property {
    padding: 0 80px 102px;
  }
  .property__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 800px) {
  .property {
    padding: 0 80px 102px;
  }
  .property__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 675px) {
  .property {
    padding: 0 20px 80px;
  }
}
@media screen and (max-width: 542px) {
  .property {
    padding: 70px 20px 80px;
  }
}
.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 298px;
  max-width: 1950px;
  margin: 0 auto;
}
.box__text {
  margin: 0 34px 34px 0;
  font-size: 1.4rem;
}

@media screen and (max-width: 1130px) {
  .box {
    justify-content: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 870px) {
  .box {
    padding: 30px;
  }
  .box__text {
    margin: 0 20px 0 0;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .box {
    flex-direction: column;
  }
  .box__text {
    margin: 0 0 20px 0;
    font-size: 1rem;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__callback {
  display: flex;
  color: #F3D098;
  justify-content: flex-end;
}
.menu__socials-item {
  margin-right: 8px;
}
.menu__socials-email {
  margin: 0 47px;
  border-bottom: 1px dotted #F3D098;
}
.menu__callback-text {
  margin-right: 30px;
  border-bottom: 1px dotted #F3D098;
  position: relative;
}
.menu__callback-text::before {
  content: "";
  background-image: url(../icons/dot.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  border-bottom: #000;
  left: -30px;
}

@media screen and (max-width: 1289px) {
  .menu__socials-email {
    margin: 0 30px 0 17px;
  }
}
@media screen and (max-width: 1090px) {
  .menu__callback {
    flex-direction: column;
  }
}
@media screen and (max-width: 1063px) {
  .menu {
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px;
    width: 100%;
  }
  .menu__socials {
    display: none;
  }
  .menu__callback {
    display: none;
  }
}
@media screen and (max-width: 433px) {
  .menu__socials-email {
    margin: 0;
  }
  .menu__callback-text {
    margin: 0 5px 0 0;
  }
}
.banner {
  background-image: url(../img/banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 150px 100px 160px;
  position: relative;
  max-width: 1950px;
  margin: 0 auto;
}
.banner::after {
  content: "";
  background-image: url(../icons/Group\ 193.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 780px;
  height: 1300px;
  top: 200px;
  right: -10px;
}
.banner__main-info {
  background-image: url(../img/border.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 0 54px 45px;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}
.banner__main-info::before {
  content: "";
  background-image: url(../icons/diamond.svg);
  position: absolute;
  width: 156px;
  height: 156px;
  left: -50px;
  top: -90px;
  z-index: 1;
}
.banner__title {
  color: #F3D098;
  margin: 0 auto 10px;
  font-size: 3.2rem;
}
.banner__title-text {
  margin: 0;
  font-size: 2.5rem;
}
.banner__title-desc {
  margin: 10px auto 30px;
  font-size: 1.4rem;
}

@media screen and (max-width: 952px) {
  .banner__title {
    font-size: 2.5rem;
  }
  .banner__title-text {
    margin: 0;
    font-size: 2rem;
  }
  .banner__title-desc {
    margin: 10px auto 20px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 670px) {
  .banner {
    padding: 120px 50px 160px;
  }
}
@media screen and (max-width: 542px) {
  .banner {
    padding: 110px 20px 160px 50px;
  }
  .banner__title {
    font-size: 2rem;
  }
  .banner__title-text {
    margin: 0;
    font-size: 1.3rem;
  }
  .banner__title-desc {
    margin: 5px auto 5px;
    font-size: 1rem;
  }
  .banner__main-info {
    padding: 45px 0 34px 25px;
  }
  .banner::after {
    top: 100px;
    right: -10px;
  }
}
@media screen and (max-width: 401px) {
  .banner__title {
    font-size: 1.9rem;
  }
  .banner__title-text {
    font-size: 1.2rem;
  }
}
.menu-burger {
  display: none;
}

@media screen and (max-width: 1063px) {
  .menu-burger {
    display: inline-block;
    position: absolute;
    right: 20px;
  }
}
.popup {
  display: none;
}

@media screen and (max-width: 1063px) {
  .popup {
    position: fixed;
    left: -100%;
    top: 100px;
    width: 100%;
    max-height: 100%;
    background-color: #000;
    z-index: 998;
    display: flex;
    transition: 0.3s;
  }
  .open {
    left: 0;
  }
}
@media screen and (max-width: 537px) {
  .popup {
    top: 130px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 400px) {
  .popup {
    top: 140px;
  }
}
.header-banner-bg {
  background-color: #000;
  position: relative;
}/*# sourceMappingURL=style.css.map */